@import url(https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css);
* {
    font-family: 'Rubik', sans-serif;
}

html {
    background-image: url('/img/books.jpg');
}

body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1300px){
    .library-content {
        margin: 2% 5% 5% 15%;
    }
}

@media screen and (max-width: 1300px){
    .library-content {
        margin: 2% 5% 5% 5%;
    }
}

.library-sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.library-sidebar ul {
    padding: 25px 20px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    list-style-type: none;
}


@media screen and (max-width: 1300px) {
    .library-menu-list {
        display: inline-block;
        width: 85%;
    }

    .library-sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    li {
        display: inline;
    }

    .library-profile {
        display: inline-block;
        padding: 10px 20px;
    }

    .library-logout span {
        color: red;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .library-sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    li {
        display: block;
    }

    .library-profile {
        display: inline-block;
    }

    .library-logout span {
        color: red;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1300px){
        
    .library-profile {
        position: absolute;
        bottom: 0;
        font-size: 24px;
        width: 100%;
    }

    .library-logout span {
        color: red;
        right: 0;
        position: absolute;
        padding-right: 20px;
    }

    .library-user-info {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.library-menu-item {
    margin: 15px 0;
}

.library-menu-link {
    text-decoration: none;
    text-align: center;
    word-wrap: break-word
}

.library-is-active {
    text-decoration: underline !important;
}

.library-icon, .library-user-name, .library-menu-link{
    color: white;
}

.library-menu-link:hover {
    text-decoration: underline;
    color:white;
}

[v-cloak] { display: none }
@charset "utf-8";
